*{
margin: 0px;

}

.btn{
  border: none;
  background-color: #a0b6fe;
  text-align:center;
  font-size: 1em;
  margin: 4px 3px;
  justify-content: center;
  
  
}

.AppContainer{
padding: 5%;
}
.container{
border: skyblue solid 2px;
margin: 5%;
padding: 5%;

}

h2{
  font-size: 1.5em;
}